@media only screen and (max-width: 1280px) /*1055 px antes*/ {
    .news-partnersCard {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width:1000px) {
    header .container {
        flex-direction:row;
    }

    .header--right nav ul {
        flex-direction:column;
        display:none;
        position:absolute;
        left:0;
        top:85.3px;
        width:100%;
        background:#fff;
        opacity: 0.95;
    }

    nav a {
        color: var(--camTec);
    }

    .header--right a {
        border-top: 1px solid var(--camTec);
        border-radius: 0;
    }

    .header--right #ul-ultimo{
        border-bottom: 1px solid var(--camTec);
    }

    .header--right ul{
        margin-top: 66px;
    }

    header {
        height:auto;
    }

    .logo {
        margin-left: 10px;
    }

    #banner {
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
     
    }

    .menuMobile {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: 0.05s;
    }

    .menuMobile:active{
        scale: 1.2;
    }

    .social_media {
        display: flex;
        margin-left: 0;
    }

    .social_media a {
        padding: 8px;
    }

    .camTec span, .partners h2{
        font-size: 2.5rem;
    }

    .w3-modal h2{
        font-size: 1.5rem;
    }
    
    .icons_cam ul i{
        font-size: 40px;
    }

    .about h1{
        font-size: 30px;
    }
    
    .text{
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 800px) {
    .news-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .modal-body{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

}

@media only screen and (max-width: 680px) {
    header .line{
        gap: 100px;
    }

    .news h2{
        text-align: center;
    }

    .news-card{
        margin: auto;
    }
    
    .news-card {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media only screen and (max-width: 900px) {
    .header--area {

        gap: 100px;

    }

    header .line {
        gap: 200px;

    }
}

@media (max-width: 950px) {
    .home {
        grid-template-columns: 1fr;
    }

    .container_news{
        padding: 40px;
    }

    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .list {
        grid-template-columns: 1fr 5fr;
        & img{
            width: 100px;
        }    
    }

    .card {
        margin-bottom: 40px;
    }

    article {
        margin-top: 50px;
    }
}

@media (max-width: 650px) {
    .lists {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px){
    header .line {
        gap: 100px;
    }

    .header--area{
        gap: 0px;
    }

    .header--left img {
        width: 200px;
        height: auto;
    }

    .header--right ul{
        margin-top: 46px;
    }

    .camTec{
        margin-bottom: 20px;
    }

    .camTec span{
        margin: 0px 0 10px 0;
    }

    #banner {
        background-position: -100px;
        background-attachment: fixed;
        height: 80vh;
    }

    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

@media screen and (max-width:1200px){
    .about{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        width: 85%;
    }
}

@media screen and (max-width:600px){
    .about {
        padding: 20px;
    }

    .footerContainer{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 940px){
    .particulars {
        display: flex;
        flex-direction: column;
    }
    .card1 {
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}

@media screen and (max-width: 425px){
    .heading-1,
    .heading-2 {
        font-size: 33px;
    }
}
