@media only screen and (max-width: 1280px) /*1055 px antes*/ {
    .news-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 980px) {
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 680px) {
    .news-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
